#nav-bar {
    margin: 0;
}

table.activities thead {
    text-align: left;
}

table.activities input.duration,
table.activities textarea {
    width: 2em;
}

table.activities input.duration,
table.activities textarea {
    height: 1.2em;
}

table.activities .col-name div.liner {
    width: 180px;
}
table.activities .col-duration div.liner {
    width: 60px;
}
table.activities .col-actions div.liner {
    width: 26px;
}

#week .content th .liner,
#week .content td .liner {
    width: 2.1em;
}
#week .content th:first-child .liner,
#week .content td:first-child .liner {
    width: 7em;
    text-align: left;
}


table.calendar {
    border-spacing: 0px;
    margin: 0 auto;
}

table.calendar div.liner {
    width: 2.2em;
    padding: 0.2em;
    height: 2em;
    text-align: right;
    background-color: white;
}

table.calendar div.liner a {
    text-decoration: none;
}

#week .content,
#month .content {
padding: 0;
text-align: center;
font-size: 85%;
}
.ellipsis { margin-right:-10000px; }
