#nav-bar {
    margin: 0;
}

table.activities thead {
    text-align: left;
}

table.activities input.duration,
table.activities textarea {
    width: 2em;
}

table.activities input.duration,
table.activities textarea {
    height: 1.2em;
}

table.activities .col-name div.liner {
    width: 180px;
}
table.activities .col-duration div.liner {
    width: 60px;
}
table.activities .col-actions div.liner {
    width: 26px;
}

table.calendar {
    position: relative;
    left: -10px;
    border-spacing: 0px;
}

table.calendar div.liner {
    width: 2em;
    height: 2em;
    text-align: right;
    background-color: white;
}
