h1 {
font-size: 2em;
}



body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
.spacer{clear:both; height:1px;}
div#login{
    margin:0 auto;
    width:400px;
    padding:14px;
    border:solid 2px #ccc;
    background:#eee;
}
div#login h2 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
div#login p{
    font-size:11px;
    margin-bottom:20px;
    border-bottom:solid 1px #ccc;
    padding-bottom:10px;
}
div#login label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
div#login .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
div#login input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #ccc;
    width:200px;
    margin:2px 0 20px 10px;
}
div#login button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.feedback { color: red; }

table.weekview td,
table.weekview th {
    padding: 8px;
    border: 1px solid #ccc;
}

table.weekview .name {
    text-align: right;
}

table.weekview {
    border-collapse: collapse;
    border: 0;
}

table.weekview thead th {
    border-top: 0;
    border-bottom: 1px solid #888;
}

table.weekview tr th:first-child,
table.weekview tr td:first-child {
    border-left: 1px solid #888;    
}
table.weekview tr td:last-child,
table.weekview tr th:last-child {
    border-right: 1px solid #888;    
}

table.weekview tr.project th,
table.weekview tr.project td {
    border-bottom: 1px solid #888;
}

table.weekview tr.project:last-child td,
table.weekview:last-child td {
    border-bottom: 0;
}

table.monthview {
    border: 1px solid black;
    border-collapse: collapse;
}
table.monthview td,
table.monthview th {
    display: block;
    float: left;
    width: 4em;
    height: 3em;
    border: 1px solid black;
    position: relative;
    margin: 0;
    padding: 0;
}

table.monthview td div.date {
    position: absolute;
    top: 0;
    width: 100%;
}
table.monthview td div.date div.hours {
    margin-left: 1em;
}

.divisor {
    bottom: 0;
    border-top: 1px solid black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    background-color: green;
}

.weekend div.date:first-child {
    height: 50%;

}
.weekend div.date:last-child {
    top: 50%;
    height: 50%;
}
.weekend .hours {
    float: right;
}
