h1 {
font-size: 2em;
}



body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
.spacer{clear:both; height:1px;}
div#login{
    margin:0 auto;
    width:400px;
    padding:14px;
    border:solid 2px #ccc;
    background:#eee;
}
div#login h2 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
div#login p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #ccc;
    padding-bottom:10px;
}
div#login label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
div#login .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
div#login input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #ccc;
    width:200px;
    margin:2px 0 20px 10px;
}
div#login button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}
