{% extends "layout.html" %}
{% block title %}Activity view{% endblock %}

{% block content %}

<script>
    function clearActivityForm() {
        form = document.getElementById("activityForm")
        form.elements["duration"].value = "0.0"
        form.elements["comment"].value = ""
    }
</script>


{% from "_formhelpers.html" import render_field, render_css_field %}
<form id="activityForm" name="activityForm" method="post" action="{{ post_url|safe }}">
        {{ form.hidden_tag() }}
        <h1>Edit activity</h1>
        <p>Her kunne det kanskje stått noe.</p>

        {% if error: %}
        <p class="feedback">{{ error }}</p>
        {% endif %}

        {{ render_css_field(form.duration)}}
        <!--
<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "datebox"}'>
<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "durationbox", "durationShort": true}'>
   -->
        <div class="spacer"></div>
        {{ render_css_field(form.comment)}}

        <div class="spacer"></div>
        <button type="submit">Save</button>
        <button type="submit" onclick="clearActivityForm(); this.submit(); return true;">Delete</button>

    </form>



{% endblock %}
