{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field, render_css_field %}
<div id="login">
    <form id="form" name="form" method="post" action="/login">
        {{ form.hidden_tag() }}
        <h1>Login form</h1>
        <p>Testsak, mest for aa sjekke flask++</p>

        {{ render_css_field(form.username)}}
        <div class="spacer"></div>
        {{ render_css_field(form.password)}}

        <div class="spacer"></div>
        <button type="submit">Log på</button>

    </form>
</div>

{% endblock %}
