<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CT: What have you done?</title>
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='jquery.mobile-1.0b2.min.css') }}">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='jsclient.css') }}">
  </head> 
  <body> 
    <div data-role="page" id="jqm-home" class="type-home">
      <div data-role="header">
	<h1>Logg deg inn for å registrere timer</h1>
      </div>

      <div data-role="content" data-inset="true">	
	<form id="form" name="form" method="post" data-ajax="false" action="/login">
          <fieldset>
            {{ form.hidden_tag() }}
            {% if error: %}
            <p class="feedback">{{ error }}</p>
            {% endif %}
	    
	    <div data-role="fieldcontain">
	      {{ form.username.label }} {{ form.username }}
	    </div>
	    <div data-role="fieldcontain">
	      {{ form.password.label }} {{ form.password }}
	    </div>
            <input type="submit" value="Logg på" />
	  </fieldset>
	</form>
      </div>
      <div data-role="footer" class="footer">
        <p>The CurrentTime Replacement Project</p>
      </div>  
    </div>
    <script src="{{ url_for('static', filename='jquery-1.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.mobile-1.0b2.min.js') }}"></script>
  </body>
</html>

