{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<form action="hours" method="post"> 

<div data-role="fieldcontain">
	<label for="select-choice-1" class="select">Prosjekt</label>
	<select name="select-choice-1" id="select-choice-1">
		<option value="p1">Internt</option>
		<option value="p2">Lunch</option>
		<option value="p3">Prosjekt A</option>
		<option value="p4">Prosjekt B</option>
	</select>
</div>

<label for="mydate">Dato</label>
<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "datebox"}'>


<label for="mydate">Tid brukt</label>

<input name="mydate" id="mydate" type="date" data-role="datebox"
   data-options='{"mode": "durationbox", "durationShort": true}'>

   <input type="submit" value="Legg til">

</form>




{% endblock %}
