{% extends "layout.html" %}
{% block title %}Day view{% endblock %}

{% block content %}

{% from "_cthelpers.html" import render_calendar_header with context %}
{{ render_calendar_header() }}
	

<table class="dayview">
<tr>
    <th>Project</th>
    <th>Hours</th>
    <th>Notes</th>
</tr>

{% for project in projects: %}
<tr>
    <td><a href="{{ project.edit_link }}">{{ project.project_name }}</a></td>
    <td>{{ project.duration }}</td>
    <td>{{ project.comment }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}

