{% extends "layout.html" %}
{% block title %}Day view{% endblock %}

{% block javascript_ready %}
            $(".dayview a.lunch").bind('click', function() { 
                btn = $(this)
                $.getJSON($(this).attr("href"), { 
                    toggle_lunch: 1
                }, function(data) {
                    $(".dayview a.lunch").parent().siblings(":first").text(data.result)
                });
                return false;
            })
{% endblock %}

{% block content %}

{% from "_cthelpers.html" import render_calendar_header with context %}
{{ render_calendar_header() }}
	
<table class="dayview">
<tr>
    <th>Project</th>
    <th>Hours</th>
    <th>Notes</th>
</tr>

{% for project in projects: %}
<tr>
    <td><a href="{{ project.edit_link }}" class="{{ project.link_class }}">{{ project.project_name }}</a></td>
    <td class="duration">{{ project.duration }}</td>
    <td>{{ project.comment }}</td>
</tr>
{% endfor %}
</table>

<a href="{{ projects_url }}">Legg til prosjekt</a>

{% endblock %}

