{% extends "layout.html" %}
{% block title %}Week view{% endblock %}

{% block content %}

{% from "_cthelpers.html" import render_calendar_header with context  %}
{{ render_calendar_header() }}

<table class="weekview">
<thead>
<tr>
    <th class="name"><a href="/project" data-role="button">Add project</a></th>
    <th><a href="{{ day_links[0] }}">M</a></th>
    <th><a href="{{ day_links[1] }}">T</a></th>
    <th><a href="{{ day_links[2] }}">W</a></th>
    <th><a href="{{ day_links[3] }}">T</a></th>
    <th><a href="{{ day_links[4] }}">F</a></th>
    <th>
        <a href="{{ day_links[5] }}">W</a> /
        <a href="{{ day_links[6] }}">E</a>
    </th>
</tr>
</thead>
{% for name, project in projects.iteritems() %}
<tr class="project">
    <td class="name">{{ name }}</td>
    {% for day, activity in project.iteritems() %}
    <td>
        <a href="{{ activity.link }}" class="{{ activity.link_class }}" data-role="button">
            {% if activity.duration %}{{ activity.duration }}{% else %}0{% endif %}
        </a>
        {% if activity.comment %}<div class="comment">*</div>{% endif %}
        {% if loop.last: %}/
        <a href="{{ activity.link_sunday }}" class="{{ activity.link_class_sunday }}" data-role="button">
                {% if activity.duration_sunday %}
                {{ activity.duration_sunday }}
                {% else %}
                0
                {% endif %}
            </a>
            {% if activity.comment_sunday %}<div class="comment">*</div>{% endif %}
        {% endif %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<script>
    $("a.lunch").bind('click', function(test) { 
        btn = $(this)
        $.getJSON($(this).attr("href"), { 
            clear: clearText
        }, function(data) {
            btn.text(data.result);
        });
        return false;
    })
</script>

{% endblock %}
