{% extends "layout.html" %}
{% block title %}Month view{% endblock %}

{% block content %}

<div>
    <a href="/view/month/{{ prev_month }}">forrige</a>
    <a href="/view/month/{{ next_month }}">neste</a>
</div>

<table class="monthview">
{% for weeknumber, weekdata in calendar: %}
<tr>
    <td>
        Uke: <a href="/view/week/{{ weeknumber }}">{{ weeknumber }}</a>.
    </td>
{% for day in weekdata: %}
<td>
{% if day.day > 0: %}
<div><a href="/view/day/{{ day.day }}" class="day" data-role="button">{{ day.day }}</a>
{% for activity in day.activities: %}
{{ activity}}
{% endfor %}
</div>
{% endif %}
</td>

{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
