{% extends "layout.html" %}
{% block title %}Month view{% endblock %}

{% block content %}

<div>
    <a href="/view/month/{{ prev_month }}">forrige</a>
    <a href="/view/month/{{ next_month }}">neste</a>
</div>

<table class="monthview">
<thead>
    <tr>
        <th>Uke</th>
        <th>M</th>
        <th>T</th>
        <th>O</th>
        <th>T</th>
        <th>F</th>
        <th>H</th>
    </tr>
</thead>
{% for (year, weeknumber), weekdata in calendar: %}
<tr>
    <td>
        <a href="/view/week/{{ year }}-{{ weeknumber }}">{{ weeknumber }}</a>.
    </td>
{% for day in weekdata: %}
<td>
{% if day.day > 0: %}
    {% if loop.last: %}
        <!--div class="divisor"></div-->
        <div class="weekend">
            <div class="date"><a href="/view/day/{{ day.link }}" class="day" data-role="button">{{ day.day }}</a><div class="hours">{{ day.hours }}</div></div>
            <div class="date"><a href="/view/day/{{ day.link_sunday }}" class="day" data-role="button">{{ day.day_sunday }}</a><div class="hours">{{ day.hours_sunday }}</div></div>
        </div>
    {% else %}
        <div class="date"><a href="/view/day/{{ day.link }}" class="day" data-role="button">{{ day.day }}</a><div class="hours">{{ day.hours }}</div></div>
    {% endif %}
{% endif %}
</td>

{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
