{% extends "layout.html" %}
{% block title %}Week view{% endblock %}

{% block content %}

<div>
    <a href="/view/week/{{ prev }}">forrige</a>
    <a href="/view/week/{{ next }}">neste</a>
</div>

<table class="weekview">
<thead>
<tr>
    <th class="name"><a href="/project" data-role="button">Add project</a></th>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>W</th>
</tr>
</thead>
{% for name, project in projects.iteritems() %}
<tr class="project">
    <td class="name">{{ name }}</td>
    {% for day, activity in project.iteritems() %}
    <td>
        <a href="/activity/{{ activity.day }}/{{ activity.project_id }}" data-role="button">
            {% if activity.duration %}
            {{ activity.duration }}
            {% else %}
            0
            {% endif %}
        </a>
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}


