{% extends "layout.html" %}
{% block title %}Month view{% endblock %}

{% block javascript_ready %}
$(".total_week_hours").filter(function(index) { return $(this).text() < "40.0" && $(this).text() != "0.0"  }).parent().parent().css("background-color", "red")
{% endblock %}
{% block content %}

{% from "_cthelpers.html" import render_calendar_header with context  %}
{{ render_calendar_header() }}

<table class="monthview">
<thead>
    <tr>
        <th>Uke</th>
        <th>M</th>
        <th>T</th>
        <th>O</th>
        <th>T</th>
        <th>F</th>
        <th>H</th>
    </tr>
</thead>
{% for (year, weeknumber), weekdata in calendar: %}
<tr>
    <td>
        <a href="/view/week/{{ year }}-{{ weeknumber }}">{{ weeknumber }}</a>
        <div class="total_week_hours">{{ total_week_hours[(year, weeknumber)] }}</div>
    </td>
{% for day in weekdata: %}
<td>
{% if day.day > 0: %}
    {% if loop.last: %}
        <!--div class="divisor"></div-->
        <div class="weekend">
            <div class="date"><a href="{{ day.link }}" class="day" data-role="button">{{ day.day }}</a><div class="hours">{{ day.hours }}</div></div>
            <div class="date"><a href="{{ day.link_sunday }}" class="day" data-role="button">{{ day.day_sunday }}</a><div class="hours">{{ day.hours_sunday }}</div></div>
        </div>
    {% else %}
        <div class="date"><a href="{{ day.link }}" class="day" data-role="button">{{ day.day }}</a><div class="hours">{{ day.hours }}</div></div>
    {% endif %}
{{ day.day }}
{% endif %}
</td>

{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
